{% extends "this_site.html" %}

{% block this_section_head %}
<script>
$(function() {
  $('.email').focus();
});
</script>
{% endblock this_section_head %}

{% block this_section_body %}
  {% if possible_used_up_token %}
    <h1>Expired link</h1>
    <p>No worries, just send yourself a new one.</p>
  {% elif email_sent_to %}
    <h1>Check {{ email_sent_to }}</h1>
  {% else %}
    <h1>{{ default_header }}</h1>
  {% endif %}

  {% if sent %}
    <p class="margin-top"><b>Do me a favor</b>. If this email landed in your
    spam or promotions folder, drag it to your inbox.</p>
  {% else %}
    {% block top_message %}
    {% endblock top_message %}
  {% endif %}

  <form method="POST" class="margin-top" action="{{ post_to }}">
    {% csrf_token %}
    <label>Email: {{ email_text_box }}</label>
    {{ email_me_button }}
  </form>

  {% block bottom_message %}
  {% endblock bottom_message %}
{% endblock this_section_body %}
