{% extends "sign_up_or_log_in.html" %}

{% block top_message %}
<p class="margin-top">I'll charge you <b>$1 / month</b> that you actively
use the site. But I won't send you a bill until you owe at least $10.00. If
your bill goes past-due, I'll simply deactivate your account until you decide
to pay or walk away, so it's risk free.</p>
<p class="margin-top-half">I'll <b>never sell or share your data</b>. The only people who can see your data are you, the employees of my business, and whoever you give login information or API keys to.</p>
<p class="margin-top-half">I'll <b>never spam you</b>. I'll only email you if<ul>
    <li>You request an email, such as a sign up or login link.</li>
    <li>You opt into notifications. All notifications will be default opt-out.</li>
    <li>I or an employee needs to personally communicate with you specifically,
    such as to help debug a problem you're experiencing on the website, or if
    you contacted us first.</li></ul></p>
{% endblock top_message %}

{% block bottom_message %}
<p class="margin-top">
  <a href="{{ login_url }}">Actually I need to login</a>
</p>
{% endblock bottom_message %}
